body.theme-default {
  & nav {
    &.navbar {
      background-color: black;
    }
  }
  & section {
    & .menu {
      background-color: black;
      & ul > li ~ li {
        color: white;
        &:hover {
          color: #a84cfd !important;
        }
      }
    }
  }
}
