.btn:not(.btn-link):not(.btn-circle) span {
  position: unset !important;

  margin: 0 !important;
}

.bg-blue p.name {
  width: 40rem;
}

.table tbody tr td,
.table tbody tr th {
  border-top: unset !important;
  border-bottom: unset !important;
}

tr.template-download.fade.in {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table.table {
  margin: 0;
  border: 0;
}

button.btn.waves-effect {
  padding: 1rem !important;
  border-radius: 2.5rem;
}

.ext_.content {
  & .ext_ {
    margin: 1rem 0.5rem;
    max-width: 14rem;
    text-align: center;
    text-wrap: pretty;
  }

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  border-radius: 1rem;
  right: 7rem;
}

.contenido_extension_agendados {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  padding: 2rem;
  border-radius: 5rem;
  z-index: 99999;
}

/* body, .list, .list > a, span, li.header,.body, ul.paginate_button {
    background: black !important;
    color: white !important;
} */

.abridor_tipi {
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  z-index: 99999;
  padding: 2rem;
  border-radius: 5rem;
}

.list-group-item:nth-child(odd)>.row {
  padding: 1rem;
}

.list-group-item:nth-child(even)>.row {
  padding: 1rem;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-success {
  background-color: #2b982b;
}

.label-danger {
  background-color: red;
}

.form-group .form-line {
  border-bottom: 0 !important;
}

input,
textarea,
select {
  border-radius: 1.2rem !important;
  border-bottom: none;
  margin-bottom: 0;
  text-align: center;
}



ul.ml-menu>li a,
a.waves-effect.waves-block>* {
  transition: all 0.5s cubic-bezier(0.88, -0.01, 0.01, 0.28) 0s;
}

.extension {
  & .item>input {
    color: black;
    width: 40rem;
  }

  & .item>select {
    color: black;
    width: 40rem;
  }

  &.content._settings .item {
    padding: 1rem;

    &._box-addons {
      margin: 1.5rem 0px;
      max-height: 300px;
      overflow: auto;
      height: 35rem;
    }

    & h3 {
      grid-column: 1 / 3;
      text-align: center;
    }

    & ._sub {
      border: solid 1px white;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      text-align: center;
      margin: 0.5rem 0;
      padding: 1.5rem;

      & p {
        grid-column: -3/-1;
      }

      & label {
        margin: auto 1rem;
      }
    }
  }
}

section.content {
  max-width: 98.5%;
  width: auto;
}

#div_ajax_atenciones .body.table-responsive {
  max-height: 37rem;
  height: auto;
  margin-bottom: 1.5rem;
}

div#div_ajax_atenciones {
  padding: 0 0 2rem 0;
}

.main_box {
  width: max-content;
}

.sidebar .legal .copyright {
  word-break: break-word;
  text-wrap: pretty !important;
}


.extension.content._getcto {
  padding: 1.5rem;
}



.resultado {
  max-height: 25rem;
  overflow: auto;
  padding: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.box-title {
  padding: 1rem;

  & p {
    text-align: center;
    font-size: 2rem;
  }
}

.box-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.panel {
  &.panel-primary {
    max-height: 850px;
    height: 76rem;
  }
}

div#div_ajax_busca_tickets>div {
  & .panel.panel-primary {
    height: auto !important;
    overflow-x: auto;

    & .panel-title {
      font-size: larger;
    }
  }
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: unset;
  height: 47rem;
  overflow: auto;
}


._ext.loading {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 20rem;
  height: 4rem;

  &>.preloader {
    margin: auto;
  }
}

div#div_ajax_tabla_file_subidos .body.table-responsive {
  height: 30rem;
}

._settings {
  & .item .item {
    /* display: grid; */
    /* justify-items: stretch; */
    gap: 0.55rem;
    /* grid-template-columns: 1fr 1fr; */
  }
}

.login-box>.card .footer .box {
  color: black;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.6rem;

  & button {
    height: 3.8rem;
    width: 15rem;
    padding: .25rem;
    margin: 0.5rem;
  }
}

.login-box>.card .footer .status {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bolder;
}

.outer_div .panel-success>.panel-heading {
  border: unset !important;
  margin: 0 !important;
  font-size: 2rem;
  font-weight: bold;
}

.box.ext_.gcounttm .resultado {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.ext_.content {
  background-color: rgb(8, 161, 54);

  & .ext_ {
    color: #fcfcfc;
    background-color: #462f76 !important;
  }
}

.info-container>div {
  font-size: 1.35rem !important;
}